@import "bootstrap/bootstrap.less";
@import "variables.less";

@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

.dropdown {
  position: relative;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
  top: 100%;
  left: 10;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 60px;
  padding: 15px 0px 15px;
  margin-left: 20px;
  font-size: 16px;
  list-style: none;
  background: #e74c3c;
  background-color: #e74c3c;
  background-clip: padding-box;
  border: 0px solid #ccc;
  border: 0px solid rgba(0, 0, 0, .15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(255, 255, 255, .175);
          box-shadow: 0 6px 12px rgba(255, 255, 255, .175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  background: #e74c3c;
  color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #e74c3c;
  text-decoration: none;
  background-color: #000;
}

a { 
    text-decoration:none; 
    cursor:pointer;
    color: #000;
}
a:hover{
    color: #000;
    text-decoration:none;
}

a{
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.tab {
    padding: 80px;    
}

.tab30r {
    margin-right: 30px;
    margin-left:-30px;
}

.jumbo {
    padding: 0;
    background-color: #E74C3C;
}

.bg-gray {
    background-color: #f8f8f8;
}

.bg-red {
    background-color: #E74C3C;
}

.bg-light {
    background-color: #ffffff;
}

.text1 {
    font-family: Helvetica,Arial;
    font-weight: 200;
    font-size: 20px;
}

.bigtitle {
    font-family:Helvetica;
	font-size: 30px;
    margin-top:20px;
    text-align: left;
}

.color1 {color: #E74C3C}

.txt1 {
    font:300 20px 'Open Sans Condensed', Arial, sans-serif;
    color:#3e454c; 
    margin-top: 0px;
    display: block;
}

.txt2 {
    font:300 20px/30px 'Open Sans Condensed', Arial, sans-serif;
    color:#a9a9a9; 
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.txt3 {
    font:22px/30px 'Open Sans Condensed', Arial, sans-serif;
    color:#3e454c; 
    margin-top: 13px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: -1px;
}

.txt4 {
    font:15px/20px 'Open Sans Condensed', Arial, sans-serif;
    color:#e74c3c; 
    margin-top: -10px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 7px;
}

.space-box {
    min-height: 20px;
    margin-top: 40px;
}
.box, .box2, .box3{overflow: hidden;}

.box-2{
    width: 100%;
    background: #f9f9f9;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    padding: 20px 20px 21px;
    margin-top: 36px;
    margin-bottom: -17px;
    height: 520px;
}

.box-2 img {
    display:block; 
    margin:0 auto;
}
.box-2 h3{
    margin-top: 14px;
    margin-bottom: -5px;
}
.box-2 p {
    height: 20px;
    margin-bottom: 5px;
}

.box-2 .more_btn{margin-top: 31px;}

.bigblacktitle {
    font-family:Helvetica;
    font-size: 30px;
    line-height: 180px;
    color: #3E454C;
}

.navbar-default {
    border-width: 0;
    background-color: #ffffff;
}

.headerlink {
    font-size: 18px;
    margin-top: 25px;
}

.marklist {
    margin: 0;
    padding: 0;
}

.marklist li {
    display: block;
    margin-bottom: 12px;
    padding-left: 31px;
}

.marklist li a {
      color: #3e454c;
      text-decoration: none;
      font:700 15px/16px "Open Sans condensed", Arial, sans-serif;
      text-transform: uppercase;
}

.marklist li a:hover {
    color: #e74c3c;
}

@nav-link-padding: 10px 30px;
@navbar-default-link-color: #b2b2b2;
@navbar-default-link-hover-color: #E74C3C;
@navbar-default-link-active-color: @navbar-default-link-hover-color;

.num_section{
    position: relative;
    width: 60px;
    background-color: #e74c3c;
    float: left;
    margin-right: 25px;
    margin-left: 15px;
    text-align: center;
    -webkit-box-sizing: border-box; /* Safari */
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    box-sizing: border-box;
    margin-top: 20px;
}

.date_txt1{
    display: block;
    font:40px/40px 'Open Sans Condensed', Arial, sans-serif;
    color:#fff; 
    text-transform: uppercase;
    margin-top: 12px;
}
.date_txt2{
    display: block;
    font:15px/15px 'Open Sans Condensed', Arial, sans-serif;
    color:#fff; 
    text-transform: uppercase;
    margin-top: 7px;
}
.date_txt3{
    display: block;
    background: #000;
    -webkit-box-sizing: border-box; /* Safari */
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    box-sizing: border-box;
    padding: 10px 0 10px;
    font:15px/15px 'Open Sans Condensed', Arial, sans-serif;
    color:#fff; 
    text-transform: uppercase;
    margin-top: 17px;
    margin-left: 0px;
}

.floatleft{
        clear: left;
        float: left;
        position: relative;
        margin-right: 20px; /*внешний отступ*/
        margin-top: 0px; /*внешний отступ*/
        margin-bottom: 20px; /*внешний отступ*/
        padding: 10px; /*внутренний отступ*/
        font-size: small;
        text-align: center;
        font-weight: bold;      
}

figure{display: block; margin-top: 50px;}
figure.img_inner {
    display: block;
    overflow: hidden;
    margin-top: 36px;
    height: auto;
    line-height: 0;

}
figure iframe {
    width: 100%;
    height: 363px;
}
a.link2{color: #e74c3c;}
a.link2:hover{color: #000;}

footer.content_footer{
    border-top: 1px solid #bfc6c6;
    margin-top: 92px;
}
.footer_priv{
    padding: 23px 0 30px;
}

.field {
    margin-top:15px;
}

.more_btn{
    display: inline-block;
    padding: 15px 18px;
    background: #e74c3c;
    color: #fff;
    text-decoration:none; 
    text-transform: uppercase;
    font:600 15px/20px "Open Sans Condensed", Arial, sans-serif;
}
.more_btn:hover{
    background: #000;
    color: #e74c3c;
}

#contact-form {
    position: relative;
    margin-top: 36px;
}
#contact-form label {
    position: relative;
    /*!*/
    display: block;
    min-height: 42px;
    margin-bottom: 0px;
    width: 100%;
    box-shadow: none;
    /*width: 200px;*/
    margin-right: 0px;
}
#contact-form label.message{width: 100%; float: none;}
#contact-form label.phone{margin-right: 0;}
#contact-form span {display: block;}
#contact-form ._placeholder {
    position: absolute;
    /*!*/
    left: 0;
    right: 0;
    top: 0;
    /*top: 0 !important;*/
    bottom: 0;
    cursor: text;
    padding: 5px 10px 5px 10px;
    font: 14px/20px Arial, Helvetica, sans-serif;
    color: #bbbaba;
    display: block;
}
#contact-form ._placeholder.focused {
    opacity: .4;
    filter: alpha(opacity=40);
    /*.box-shadow(0px 0px 7px 0px rgba(0, 0, 255, 0.5));*/
}
#contact-form ._placeholder.hidden {
    display: none;
}

#contact-form .name {
    
}

#contact-form input,
#contact-form textarea {
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    font: 14px/20px Arial, Helvetica, sans-serif;
    color: #bbbaba;
    border: 1px solid #bfc6c6;
    width: 100%;
    background: #f9f9f9;
    box-shadow: none;
    -webkit-appearance:none;
    resize: none;
    height: 32px;

    -webkit-box-sizing: border-box; /* Safari */
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    box-sizing: border-box;
}
#contact-form textarea {
    width: 100%;
    height: 319px;
    margin-bottom: 0;
    overflow: hidden;
}
#contact-form .message {
    width: 100%;
}
#contact-form .error-message,
#contact-form .empty-message {
    height: 0;
    overflow: hidden;
    font: 10px/20px Arial;
    -webkit-transition: 0.3s ease-in height;
    -moz-transition: 0.3s ease-in height;
    -o-transition: 0.3s ease-in height;
    transition: 0.3s ease-in height;
    position: absolute;
    right: 3px;
    top: 0;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
    height: 20px;
}
#contact-form .success-message {
    position: absolute;
    overflow: hidden;
    height: 0;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #f9f9f9;
    z-index: 10;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    padding: 0px 0;
}
#contact-form.success .success-message {
    height: 116px;
    padding: 45px 0 0;
    border: none;
    border: 1px solid #bfc6c6;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.form_btns {
    display: block;
    float: left;
    margin-top: 10px;
}
.form_btns a {
    margin-right: 5px;
    margin-top: 0px !important;
    padding: 15px 33px;
}
/*--- contact_form end------*/

@media only screen and (max-width: 995px) {
    #contact-form {padding-top: 0;}
    #contact-form .success-message {width: 100%;}

    #contact-form label{width: 100%; float: none;}

}


@media only screen and (max-width: 767px) {
    #contact-form textarea {height: 300px !important;}
    #contact-form {margin-top: 30px;}
    #contact-form.success .success-message {height: 184px; padding-top: 80px;}
}
@media only screen and (max-width: 479px) {
    #contact-form textarea {height: 200px !important;}
}

.obj_img {
    width:150px; 
    height:150px; 
    margin:0 auto;
    padding: 15 15 15 15;
}

.blockobject {
    padding-bottom: 10px;
}

.blockobject h3 {
    font:300 20px/15px 'Open Sans Condensed', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-left: 5px;
}

.blockobject p {
    padding: 0px 5px 0px 5px;
}