{% extends "base.html" %}
{% block page %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2><span class="color1">НАШИ</span>КОНТАКТЫ</h2>
            <figure class="img_inner">
                <iframe width="500" height="555" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?client=opera&amp;oe=utf-8&amp;channel=suggest&amp;q=%D0%B1%D0%B5%D0%BB%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%B1%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD%D0%B0+%D1%85%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D0%BA%D0%BE%D0%B3%D0%BE+111&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%BF%D1%80%D0%BE%D1%81%D0%BF.+%D0%91%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD%D0%B0+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D0%BA%D0%BE%D0%B3%D0%BE,+111,+%D0%91%D0%B5%D0%BB%D0%B3%D0%BE%D1%80%D0%BE%D0%B4&amp;gl=ru&amp;t=m&amp;ll=50.604432,36.578465&amp;spn=0.015117,0.021415&amp;z=15&amp;output=embed"></iframe>
            </figure>
            <div class="row">
                <div class="col-md-12">
                    {{  contacts.content|safe }}
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>    
</div>
{% endblock %}