<div class="footer bg-gray space-box">
    <div class="content_footer">
        <div class="footer_priv">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <ul class="soc_icons">
                    <li><a href="http://www.facebook.com/sharer.php?u={{ request.get_host }}"><span class="icon-facebook"></span></a></li>
                    <li><a href="http://twitter.com/home?status={{ request.get_host }}"><span class="icon-twitter"></span></a></li>
                    <li><a href="https://plus.google.com/share?url={{ request.get_host }}"><span class="icon-google-plus"></span></a></li>
                </ul>
                <p><span class="color1" style="margin-left:0px">ПРИОРИТЕТ</span> &copy; 2014 - Все права защищены</p>
<!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
var _tmr = _tmr || [];
_tmr.push({id: "2499124", type: "pageView", start: (new Date()).getTime()});
(function (d, w) {
   var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
   ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
   var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
   if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window);
//]]></script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2499124;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->
<!-- Rating@Mail.ru logo -->
<a href="http://top.mail.ru/jump?from=2499124">
<img src="//top-fwz1.mail.ru/counter?id=2499124;t=351;l=1" 
style="border:0;" height="18" width="88" alt="Рейтинг@Mail.ru" /></a>
<!-- //Rating@Mail.ru logo -->
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.5;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->

            </div>
        </div>
    </div>
</div>
