<div class="footer bg-gray space-box">
    <div class="content_footer">
        <div class="footer_priv">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <ul class="soc_icons">
                    <li><a href="http://www.facebook.com/sharer.php?u={{ request.get_host }}"><span class="icon-facebook"></span></a></li>
                    <li><a href="http://twitter.com/home?status={{ request.get_host }}"><span class="icon-twitter"></span></a></li>
                    <li><a href="https://plus.google.com/share?url={{ request.get_host }}"><span class="icon-google-plus"></span></a></li>
                </ul>
                <p><span class="color1" style="margin-left:-10px">МЕГАХОЛОД</span> &copy; 2014 - Все права защищены</p>           
            </div>
        </div>
    </div>
</div>
