{% load admin_urls admin_static admin_list%}
<div class="navbar navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Мегахолод</a>
            <div class="nav-collapse collapse">
                <ul id="menu-menyu-v-shapke" class="nav">
                    <li class="pull-left"><a href="/">На главную</a></li>
                    <li class="pull-left"><a href="/about/">О компании</a></li>
                    <li class="pull-left"><a href="/product/">Продукция</a></li>
                    <li class="pull-left"><a href="/objects/">Объекты</a></li>
                    <li class="pull-left"><a href="/about/">Контакты</a></li>
                </ul>
            </div>  
        </div>
    </div>
</div>