<div class="navbar navbar-default" >
    <!-- <div class="navbar-inner"> -->
        <div class="container headerlink">
            <div class="row">
                <div class="col-md-3">
                    <div class="header_phone">+7 (4722) 37-58-33</div>
                    <div class="header_phone">+7 (4722) 37-46-80</div>
                </div>
                <div class="col-md-9">
                    <ul class="nav navbar-nav navbar-right ">
                        <li class="pull-left"><a href="/">На главную</a></li>
                        <li class="pull-left"><a href="/about/">О компании</a></li>
                        <li class="pull-left dropdown">
                            <a href="/product/windows/">Продукция</a>
                            <ul class="dropdown-menu pull-right color1" role="menu" aria-labelledby="dropdownMenu">
                                <li><a tabindex="-1" href="/product/windows/">Пластиковые окна</a></li>
                                <li><a tabindex="-1" href="/product/vacs/">Встроенные пылесосы</a></li>
                            </ul>
                        </li>
                        <li class="pull-left"><a href="/objects/">Объекты</a></li>
                        <li class="pull-left"><a href="/contacts/">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <!-- <a href="/" class="brand"><img src="/media/uploads/logo.png" alt="Мегахолод"></a> -->
        </div>
    <!-- </div> -->
</div>