{% extends "base.html" %}
{% block page %}
<div id="body">
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron bg-light">
                <h1>Hello, world!</h1>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"><p class="bigtitle">Добро пожаловать!<p></div>
            <div class="col-md-7"><p class="text1">Наша компании рада предложить не только высококачественное оборудование, но и широкий комплекс услуг, ориентированный на постоянное улучшение удобства работы потребителя с оборудованием. Мы реализуем в своей работе принципы, соответствующие современным запросам: надежное оборудование от мировых лидеров, высокий, качественно новый, уровень сервиса.</p></div>
            <div class="col-md-1"></div>
        </div>
        <div class="block">
        </div>
    </div>
</div>
{% endblock %}
