{% extends "base.html" %}
{% block page %}
<div class="body">
    <div class="container-fluid jumbo">
        <div id="crsl" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                <img src="/media/uploads/window_cleaning.jpg" alt="...">
                <div class="container">
                    <div class="carousel-caption" style="bottom:10px;left:10px;">
                        <h1 style="text-align:left;">Help celebrate our wedding</h1>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/media/uploads/vac.jpg" alt="asd">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="bottom:10px;left:10px;">bla bla bla</h1>
                    </div>
                </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#crsl" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#crsl" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

        <div class="row bg-light">
            <div class="col-md-1"></div>
            <div class="col-md-3"><p class="bigtitle color1">Добро пожаловать!<p></div>
            <div class="col-md-7"><p class="txt2">МЫ ИСКРЕННЕ ВЕРИМ, ЧТО ДЛЯ ЛЮБОГО ЧЕЛОВЕКА, ЗАИНТЕРЕСОВАННОГО В ИНВЕСТИЦИЯХ В СВОЮ ЖИЗНЬ, МЫ МОЖЕМ БЫТЬ ВЕСЬМА ПОЛЕЗНЫ!</p></div>
            <div class="col-md-1"></div>
        </div>
        <div class="row bg-gray">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h2><span class="color1">Наши</span><br>продукты</h2>
            </div>
            <div class="col-md-3">
                <h2><span class="color1">Наши</span><br>технологии</h2>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row bg-light">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h2><span class="color1">Наши</span><br>объекты</h2>
            </div>
            <div class="col-md-3">
                <h2><span class="color1">Последние</span><br>новости</h2>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
{% endblock %}
