{% extends "base.html" %}
{% block page %}
<div class="container">
    <div class="row">
        {% for rec in object_list %}
        <div class="col-md-10">
            <div class="col-md-4 jumbo num_section">
                <span class="date_txt1">{{ rec.time|date:"d" }}</span>
                <span class="date_txt2">{{ rec.time|date:"M" }}</span>
                <span class="date_txt3">{{ rec.time|date:"Y" }}</span>
            </div>
            <h2>{{ rec.title }}</h2>
            <p>{{ rec.text|safe|truncatewords_html:30 }}</p>
            <a href="/news/{{rec.id}}" class="more_btn" >Узнать больше</a>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}